* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} 

.container {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(135deg, #cf9aff, #95c0ff);
  color: #fff;
  padding-top: 4%;
  padding-left: 10%;
} 

.container h1 {
  display: flex;
  align-items: center;
  font-size: 36px;
  font-weight: 600;
} 

.container h1 img {
  width: 60px;
} 

.container button img {
  width: 24px;
  margin-right: 8px;
} 

.container button {
  display: flex;
  align-items: center;
  background: linear-gradient(#9418fd, #571094);
  color: #fff;
  outline: none;
  border: none;
  border-radius: 4px;
  padding: 12px 24px;
  margin: 32px 0 24px;
  cursor: pointer;
} 

.input-box {
  position: relative;
  width: 100%;
  max-width: 400px;
  min-height: 120px;
  background: #fff;
  border-radius: 6px;
  outline: none;
  padding: 16px;
  margin: 16px 0;
  color: #333;
} 

.input-box img {
  width: 24px;
  position: absolute;
  bottom: 16px;
  right: 16px;
  cursor: pointer;
}